[Desktop Entry]
Name=Birdfont
Name[ru]=Birdfont
Comment=Font editor
Comment[ru]=Редактор шрифтов
Exec=birdfont %U
Icon=birdfont
StartupWMClass=birdfont
Terminal=false
Type=Application
Categories=Graphics;

