<?xml version="1.0" encoding="UTF-8"?>
!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>Birdfont</string>
  <key>CFBundleExecutable</key>
  <string>birdfont.sh</string>
  <key>CFBundleIdentifier</key>
  <string>org.birdfont</string>
  <key>CFBundleName</key>
  <string>birdfont</string>
  <key>CFBundleIconFile</key>
  <string>birdfont.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>0.01</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>9</integer>
</dict>
</plist>