@charset "UTF-8";

.clearBoth { clear:both; }

body {
}

div {
	font-size: 10pt;
}

div.content {
	width: 100%;
}

div.heading {
	width: 100%;
	background-color: #BAC8E7; 
	color: #FFFFFF;
}

div.menu_item {
	width: 100%;
	background-color: #CEDAE7; 
	color: #000000;
	margin: 0 0 2px 0;
	padding: 0 -3px 0 3px;
	cursor: default;
}

div.menu_item:hover {
	background-color: #E6ECF6; 
}

div.inner_format_box {
	float: left;
	width: 210px;
	padding: 0 0 0 0;
	margin: 0 10px 0 0;
	top: 50%;
}

div.one_line {
	position: relative;
	top: 100px;
	overflow: hidden;
	white-space: nowrap;	
}

div.recent_font {
	float: left;
	overflow: hidden;
	background-color: #EFEFEF; 
	width: 100px;
	height: 120px;
	margin: 5px 5px 5px 5px;
	font-size: 10pt;
	text-align: center;
	padding: 10px 10px 10px 10px;
	cursor: default;
}

div.recent_list {
	margin: 50px 0 0 0;	
}

h2 {
	font-size: 12pt;
	margin-left: 3px;
	margin-bottom: 4px;
}

h3 {
	font-size: 10pt;
	margin-left: 3px;
	margin-bottom: 4px;
}

input.text {
	border: 1px solid #bebebe;
	background: #FFF;
	width: 100%;	
}

input.button {
	border: 1px solid #dedede;
	background: #efefef;
}

input.checkbox {
	border: 1px solid #dedede;
	background: #efefef;
}
